<div class="jumbotron" style="background: url('https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') no-repeat center fixed;
    background-size: cover;">
    <div class="container-fluid">
        <h1 class="text-light">FIND FOOD</h1>
        <div class="">
            <div class="container-fluid">
                <span class="material-icons text-light ">

                    free_breakfast</span>
                <input type="text" name="search" id="search" class="col-md-10" placeholder="Search Food">
            </div>
        </div>
    </div>